<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pf1xhaec.asia.kofax.com/ServiceModelSamples/service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
                contract="ICalculator" name="WSHttpBinding_ICalculator">
                <identity>
                    <servicePrincipalName value="host/PF1XHAEC.asia.kofax.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>